---
title: Default Button
styles: components/button.scss
maturity: ready
---
<button href="javascript:void(0)" type="button" class="button button--glow-on-hover">
    <span>
        <b>Default Button</b>
    </span>
</button>
