---
title: Disabled Button
styles: components/button.scss
maturity: ready
---
<button href="javascript:void(0)" type="button" class="button button--disabled">
    <span>
        <b>Default Button</b>
    </span>
</button>
