* {
  box-sizing: border-box;
}

a {
  color: $black;
  text-decoration: none;
}

/* Underline styles */

a {
  position: relative;
  padding: 0.2em 0;

  /* Fade in */
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: $orange;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
    transform: translate3d(0, 0.2em, 0);
  }

  &:hover::after, &:focus::after {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
