.button {
  top: 10px;
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: $white;
  background: $black;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.button--glow-on-hover {
  &:before {
    content: '';
    background: linear-gradient(45deg, #ffbb00af, #ff00599a);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
  }

  &:active {
    color: $white;

    &:after {
      background: transparent;
    }
  }

  &:hover:before {
    opacity: 1;
  }

  &:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: $black;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.button--disabled {
  pointer-events: none;
  opacity: 0.5;
}
