.card {
  background: $black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 0;

  .box {
    position: relative;
    width: 320px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 30px;
    transition: 0.5s;

    &::before {
      content: ' ';
      position: absolute;
      top: 0;
      left: 70px;
      width: 60%;
      height: 100%;
      text-decoration: none;
      background: $white;
      border-radius: 8px;
      transform: skewX(1deg);
      transition: 0.5s;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 30px;
      width: 50%;
      height: 100%;
      background: $white;
      border-radius: 8px;
      transform: skewX(15deg);
      transition: 0.5s;
      filter: blur(30px);
    }

    &:hover {
      &:before, &:after {
        transform: skewX(0deg);
        left: 20px;
        width: calc(100% - 90px);
      }
    }

    &:nth-child(1) {
      &:before, &:after {
        background: linear-gradient(315deg, #ffbb00af, #ff0059a4);
      }
    }

    &:nth-child(2) {
      &:before, &:after {
        background: linear-gradient(315deg, #03a8f4af, #ff00599a);
      }
    }

    &:nth-child(3) {
      &:before, &:after {
        background: linear-gradient(315deg, #4fff039a, #00d0ff9a);
      }
    }

    span {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 5;
      pointer-events: none;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        opacity: 0;
        transition: 0.1s;
        animation: animate 2s ease-in-out infinite;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
      }
    }

    &:hover span::before {
      top: -50px;
      left: 50px;
      width: 100px;
      height: 100px;
      opacity: 1;
    }

    span::after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      border-radius: 8px;
      background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(10px);
      opacity: 0;
      transition: 0.5s;
      animation: animate 2s ease-in-out infinite;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
      animation-delay: -1s;
    }

    &:hover span:after {
      bottom: -50px;
      right: 50px;
      width: 100px;
      height: 100px;
      opacity: 1;
    }

    .content {
      position: relative;
      left: 0;
      padding: 20px 40px;
      background: rgba(255, 255, 255, 0.05);
      backdrop-filter: blur(10px);
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      z-index: 1;
      transform: 0.5s;
      color: #fff;
    }

    &:hover .content {
      left: -25px;
      padding: 60px 40px;
    }

    .content {
      h2 {
        font-size: 2em;
        color: $white;
        margin-bottom: 10px;
      }

      p {
        font-size: 1.1em;
        margin-bottom: 10px;
        line-height: 1.4em;
      }

      a {
        display: inline-block;
        font-size: 1.1em;
        color: $black;
        background: $white;
        padding: 10px;
        border-radius: 4px;
        text-decoration: none;
        font-weight: 700;
        margin-top: 5px;

        &:hover {
          background: $orange;
          border: 1px solid rgba(255, 0, 88, 0.4);
          box-shadow: 0 1px 15px rgba(1, 1, 1, 0.2);
        }
      }
    }
  }
}

@keyframes animate {
  0%, 100% {
    transform: translateY(10px);
  }

  50% {
    transform: translate(-10px);
  }
}
