:root {
  --color-disabled: $grey;

  --size-bezel: .5rem;
  --size-radius: 5px;

  line-height: 1.4;

  font-size: $typo_cat;
  color: $black;
  background: $white;
  font-weight: 300;
  padding: 0 calc(var(--size-bezel) * 3);
}

.input {
  top: var(--size-radius);
  position: relative;

  :disabled, :disabled + &__label{
    cursor: not-allowed;
    opacity: .5;
  }

  :invalid, :invalid + &__label{
    color: $red;
  }

  &__label {
    position: absolute;
    left: 0;
    top: 0;
    padding: calc(var(--size-bezel) * 0.75) calc(var(--size-bezel) * .5);
    margin: calc(var(--size-bezel) * 0.75 + 3px) calc(var(--size-bezel) * .5);
    white-space: nowrap;
    transform: translate(0, 0);
    transform-origin: 0 0;
    background: $white;
    transition: transform 120ms ease-in;
    font-weight: bold;
    line-height: 1.2;
  }
  &__field {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border: 3px solid currentColor;
    padding: calc(var(--size-bezel) * 1.5) var(--size-bezel);
    color: currentColor;
    background: transparent;
    border-radius: var(--size-radius);

    &:focus,
    &:not(:placeholder-shown) {
      & + .input__label {
        transform: translate(.25rem, -65%) scale(.8);
        color: $orange;
      }
    }

  }
}
