---
title: Default input
styles: base/input.scss
maturity: ready
---
<label class="input">
    <input class="input__field" type="text" placeholder=" " />
    <span class="input__label">Username</span>
</label>


