---
title: Disabled input
styles: base/input.scss
maturity: ready
---
<label class="input">
    <input class="input__field" type="text" placeholder=" " disabled/>
    <span class="input__label">Username</span>
</label>

