---
title: Required input
styles: base/input.scss
maturity: ready
---
<label class="input">
    <input class="input__field" type="password" placeholder=" " value="" name="passwordRequired" required/>
    <span for="passwordRequired" class="input__label">Password *</span>
</label>

