---
title: Default Card
styles: components/card.scss
maturity: ready
---
<div class="card">
    <div class="box">
        <div class="content">
            <h2>Card one</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <button type="button" class="button glow-on-hover"><b>Read More</b></button>
        </div>
    </div>
</div>
